<div class="ui fluid three column grid">
		
		<p id="notice"><%= notice %></p>
		<p id="error"><%= flash[:error] %></p>

	<div class="column">
		<p>
		  <b>Name:</b>
		  <%= @team.name %>
		</p>

		<p>
		  <b>Description:</b>
		  <%= @team.description %>
		</p>

		<p>
		  <b>Status:</b>
		  <%= @team.status %>
		</p>

	</div>
	<div class="column">

		<div class="ui divided list">

				<h5>Players </h5>
			 <% @users.each do |user| %>
			    <div class="item">

			 		<%= user.nickname %>

			 	</div>
			 <% end %>

		</div>
	</div>

	<div class="column">
		<h5>Tournaments </h5>


		<% @tournaments.each do |tourney| %>
			<%= tourney.name %>
		<% end %>
	</div>
</div>

<div class="ui fluid one column grid">

	<div class="column">
		<%= link_to 'Edit', edit_team_path(@team) %> |
		<%= link_to 'Back', teams_path %>
		<%= link_to 'Add Player', team_getplayers_path(@team) %>

	</div>
</div>
