<div class="ui fluid two column grid">

	<div class="column">
		<h5> Player Listing: </h5>

		<table class="ui compact table segment">
		 <thead>
		  <tr>
		    <th>Player</th>
		    <th>Nickname</th>
		    <th>Avatar</th>
		    <th>Actions</th>

		  </tr>
		</thead>
		
		<tbody> 
		  <tr>
		  	<% @users.each do |user| %>
		  	<td><%= user.email %></td>

		  	<td><%= user.nickname %></td>
	      	<td><%= link_to 'Show', user , :class => "floated circular ui tiny green button" %> </td>

		  </tr>


		<% end %>
		</tbody>
		</table>

	</div>

	<div class="column">
			<h5> Player Rating Ladder: </h5>

		<table class="ui compact table segment">
		 <thead>
		  <tr>
		    <th>Player</th>
		    <th>Nickname</th>
		    <th>Avatar</th>
		    <th>Actions</th>

		  </tr>
		</thead>
		
		<tbody> 
		  <tr>
		  	<% @users.each do |user| %>
		  	<td><%= user.email %></td>

		  	<td><%= user.nickname %></td>
			<td><%= image_tag user.avatar %></td>
	      	<td><%= link_to 'Show', user , :class => "floated circular ui tiny green button" %> </td>

		  </tr>


		<% end %>
		</tbody>
		</table>

	</div>

	</div>
</div>