<div class="ui fluid two column grid">
  
  	<div class="column">
		<div class="ui divided list">
			<div class="item">
				<p id="error"><%= flash[:error] %></p>

				  <b>Name:</b>
				  <%= @user.nickname %>
			</div>
			<div class="item">
				  <b>Avatar:</b>
			</div>
			<div class="item">
				  <b>Roles:</b>
				  <%= @user.admin%>
			</div>
					<% if current_user.admin? %>
					<%= link_to 'Edit', edit_user_path(@user) %> 
					<% end %>
		</div>

	</div>
	
	<div class="column">
	
		<div class="ui divided list">
			<div class="item">
				<h5>User Roles </h5>

				<p id="error"><%= flash[:error] %></p>

				  <b>Name:</b>
				 
			</div>
	
		</div>		

	</div>

</div>