<div class="ui fluid one column grid">

  <div class="column">
    <h3>Tournaments</h3>

    <div class="ui divided list">


      <% @tournaments.each do |tournament| %>
      <div class="item">
          <%= tournament.name %>
          <%= tournament.status %>
          <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "right floated circular ui mini red button" %>
          <%= link_to 'Edit', edit_tournament_path(tournament), :class => "right floated circular ui mini blue button" %>
          <%= link_to 'Show', tournament , :class => "right floated circular ui mini green button" %>
   
      </div>
      <% end %>

    </div>

    <br />

    <%= link_to 'Create Tournament', new_tournament_path ,:class => 'ui blue submit button'%>

  </div>
</div>

