<div class="ui fluid three column grid">
  
  	<div class="column">
		<div class="ui divided list">
			<div class="item">
				<p id="error"><%= flash[:error] %></p>

				  <h5><%= @tournament.name %></h5>
			</div>
			<div class="item">
				  <b>Status:</b>
				  <%= @tournament.status %>
			</div>
		</div>

	</div>
	
	<div class="column">
		<h5>Teams Signed Up</h5>
		<table class="ui compact table segment">
		 <thead>
		  <tr>
		    <th>Team</th>
		  </tr>
		</thead>
		
		<tbody> 
		  <tr>
		  	<% @teams.each do |team| %>
		  	<td><%= link_to team.name, team_path(team) %></td>

		  </tr>


		<% end %>
		</tbody>
		</table>

	</div>

	<div class="column">
		<h5>LeaderBoard</h5>
		
		 <table class="ui compact table segment">
		 <thead>
		  <tr>
		    <th>Team</th>
		    <th>Wins</th>
		    <th>Losses</th>

		  </tr>
		</thead>
		
		<tbody> 
		  <tr>
		  	<% @completedMatches.each do |team| %>
		  	<td><%= team["teamname"] %></td>

		  	<td><%= team["wins"] %></td>
	      	<td><%= team["losses"] %> </td>

		  </tr>


		<% end %>
		</tbody>
		</table>

	</div>	

	

</div>

<div class="ui fluid two column grid">


	<div class="column">
		
		<h5> Upcoming Matches</h5>
		<table class="ui compact table segment">
			<tr>
				<th>Match Name</th>
				<th>Date</th>
				<th>Winner</th>

			</tr>
			<tr>
			<% @matches.each do |match|%>
			<td><%= link_to match.name, tournament_match_path(@tournament, match) %></td>
			<td><%= match.date %></td>
		
			</tr>

			<% end %>
		</table>	
	</div>


	<div class="column">
		<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
		<%= link_to 'Back', tournaments_path %>
		<%= link_to 'Add Teams', tournament_getteams_path(@tournament) %>
		<%= link_to 'Create a Match', new_tournament_match_path(@tournament) %>
		<%= link_to 'Generate League', tournament_generateleague_path(@tournament) %>
	</div>

</div>
