<div class="ui fluid two column grid">
  
  	<div class="column">
		<div class="ui divided list">
			<div class="item">
				<p id="error"><%= flash[:error] %></p>

				  <b>Name:</b>
				  <%= @tournament.name %>
			</div>
			<div class="item">
				  <b>Status:</b>
				  <%= @tournament.status %>
			</div>
		</div>

	</div>
	
	<div class="column">
		<h5>Teams Signed Up</h5>
		 <% @teams.each do |team| %>
		 <div>
		 		<%= team.name %>
		 		<%= team.description %>	
		 </div>
		 <% end %>

	</div>

</div>

<div class="ui fluid two column grid">


	<div class="column">
		
		<h5> Upcoming Matches</h5>
		<table>
			<tr>
				<th>Match Name</th>
				<th>Date</th>
				<th>HomeTeam</th>
				<th>AwayTeam</th>

			</tr>
			<tr>
			<% @matches.each do |match|%>
			<td><%= match.name %></td>
			<td><%= match.date %></td>
			<td><%= match.hometeamid %> </td>
			<td><%= match.awayteamid %></td>
			</tr>

			<% end %>
		</table>	
	</div>


	<div class="column">
		<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
		<%= link_to 'Back', tournaments_path %>
		<%= link_to 'Add Teams', tournament_getteams_path(@tournament) %>
		<%= link_to 'Create a Match', new_tournament_match_path(@tournament) %>
		<%= link_to 'Generate League', tournament_generateleague_path(@tournament) %>
	</div>

</div>
