<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
    <div class="field">
    <%= f.label :hometeamname %><br />
    <%= f.autocomplete_field :hometeamname, autocomplete_team_name_teams_path, :update_elements => {:id => "##{form_tag_id(f.object_name, :hometeamid)}" },:class => "input-small",:placeholder => "Search..."%>
      <%= f.hidden_field :hometeamid %>
  </div>
    <div class="field">
    <%= f.label :awayteamname %><br />
        <%= f.autocomplete_field :awayteamname, autocomplete_team_name_teams_path, :update_elements => {:id => "##{form_tag_id(f.object_name, :awayteamid)}" },:class => "input-small",:placeholder => "Search..."%>
      <%= f.hidden_field :awayteamid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 