
<h1>Match</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @match.name %>
</p>

<p>
  <b>Date:</b>
  <%= @match.date %>
</p>

<div>
<h2>Teams:</h2>

<% @match.teams.each do |team| %>
	<%= link_to team.name, team  %>

<% end %>
</div>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Team Management', add_team_match_path(@match) %>
<%= link_to 'Back', matches_path %>

